@import 'variables';
@import 'mixins';

.block-items {
    width: 66%;
    border-right: 1px solid $colorPrimary;
    display: flex;
    margin-top: 30px;
    @media screen and (max-width: $screen-md-min) {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid $colorPrimary;
        padding-bottom: 50px
    }
    @media screen and (max-width: $screen-sm-min) {
        flex-wrap: wrap;
        margin: 0
    }
    >div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: -15px 0 -30px 0;
        @media screen and (max-width: $screen-sm-min) {
            width: 100%;
            margin: 0;
        }
    }
}

.block {
    width: 80%;
    padding: 10px 0;
    p {
        @include font-medium();
        @media screen and (max-width: $screen-sm-min) {
            width: 70%;
            text-align: center
        }
    }
    @media screen and (max-width: $screen-sm-min) {
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .icon {
        max-width: 40px;
        max-height: 40px;
    }
}

.block-comment {
    width: 33%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
    @media screen and (max-width: $screen-md-min) {
        width: 100%;
        padding-top: 30px
	}
    .comment {
        @include font-light-italic();
        font-size: 21px;
        line-height: 34px
    }
    .comment-author {   
        position: relative;
        padding-left: 70px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 60px
    }
    .author-avatar {
        border-radius: 50%;
        overflow: hidden;
        position: absolute;
        left: 0;
    }
    .author-possition {
        @include font-medium();
        font-size: 14px;
        color: $colorPrimary
    }
    .author-name {
        @include font-medium();
        font-size: 18px;
    }
}


.not-full-title {
    width: 80%;
    @media screen and (max-width: $screen-md-min) {
        width: 100%;
    }
}

.detail-block {
    padding: 20px 0 10px
}

.image-wrapper {
    width: 40%;
    @media screen and (max-width: $screen-md-min) {
        width: 100%;
        text-align: center
    }
    &.right {
        padding-left: 60px;
        @media screen and (max-width: $screen-md-min) {
            padding: 0 0 40px 0
        }
    }
    &.left {
        padding-right: 60px;
        @media screen and (max-width: $screen-md-min) {
            padding: 0 0 40px 0
        }
    }
    img{
        width: 100%;
        @media screen and (max-width: $screen-md-min) {
            width: auto;
        }
    } 
}

.detail-content {
    width: 60%;
    @media screen and (max-width: $screen-md-min) {
        width: 100%;
    }
}

.detail-accent {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 1px solid $colorPrimary;
    border-bottom: 1px solid $colorPrimary;
    @media screen and (max-width: $screen-sm-min) {
        flex-wrap: wrap;
        padding: 0;
    }
    div{
        width: 100%;
        display: flex;
        flex-direction: column;
        @media screen and (max-width: $screen-sm-min) {
            align-items: center;
            padding: 20px 0
        }
        &:first-child {
            width: 70%;
            @media screen and (max-width: $screen-sm-min) {
                width: 100%;
            }
        }
    }
}

.label {
    @include font-light();
    font-size: 16px;
    color: $colorLegend;
    margin-bottom: 20px
}


.value {
    @include font-light();
    font-size: 36px;
    color: $colorPrimary
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

li {
    @include font-regular(); 
    font-size: 14px;
    position: relative;
    padding-left: 20px;
    &::before {
       content: '';
       background: url('../resources/icons/tick.png') no-repeat;
       height: 10px;
       position: absolute;
       width: 12px;
       left: 0;
       top: 10px;
    }
}