@import 'variables';

// Fonts
@mixin font-bold() {
	font-family: $extraFonts;
	font-weight: 700;
	font-style: normal;
}

@mixin font-regular() {
	font-family: $extraFonts;
	font-weight: normal;
	font-style: normal;
}

@mixin font-medium() {
	font-family: $extraFonts;
	font-weight: 500;
	font-style: normal;
}

@mixin font-light() {
	font-family: $extraFonts;
	font-weight: 300;
	font-style: normal;
}

@mixin font-light-italic() {
	font-family: $extraFonts;
	font-weight: 300;
	font-style: italic;
}