@import "variables";
@import "mixins";

h2 {
    @include font-regular();
    font-size: 36px;
    position: relative;
    line-height: 44px;
    &:before{
        content: "";
        position: absolute;
        width: 40px;
        background: $colorPrimary;
        height: 1px;
        top: -30px
    }
}

h3 {
    @include font-regular();
    font-size: 24px;
    margin-bottom: 30px
}

h4 {
    @include font-regular();
    font-size: 18px;
    margin-bottom: 10px
}

body{
	@include font-regular();
	font-size: 18px;
	line-height: 1.8rem;
    color: $colorPrimaryDark;
    background-color: $colorBody;
}

section{
    padding: 40px 0 50px;
}

.row {
    display: flex;
	@media screen and (max-width: $screen-md-min) {
		flex-wrap: wrap
    }
    &.sm-reverse {
        @media screen and (max-width: $screen-md-min) {
            flex-direction: column-reverse
        }
    }
}

.no-margin {
    margin: 0
}