// Fonts
$extraFonts: 'Roboto', sans-serif;

// Colors
$colorPrimary: #3e3ec3;
$colorPrimaryDark: #3a4661;
$colorLegend: #6d6d6d;
$colorBody: #FFFFFF;


$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;