@import "variables";
@import "mixins";

.content {
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
	margin-left: auto;
	width: 100%;

	@media screen and (min-width: $screen-sm-min) {
		width: $screen-sm-min;
	}

	@media screen and (min-width: $screen-md-min) {
		width: $screen-md-min;
	}

	@media screen and (min-width: $screen-lg-min) {
		width: $screen-lg-min;
	}
}